@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../public/bg.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
}

.primary-text{
    @apply text-gray-200;
}

.secondary-text{
    @apply text-gray-400;
}

.btn-simple{
    @apply text-gray-200 hover:text-gray-400;
    @apply rounded-tl-xl rounded-br-xl rounded-bl-3xl rounded-tr-3xl border-4 border-gray-100 p-4 hover:border-gray-300 hover:scale-95 transform;
    @apply transition-all duration-200; 
}


.file-field{
    @apply opacity-0 overflow-hidden absolute;
	width: 0.1px;
	height: 0.1px;

    
}

.file-field + .file-field-label{
    @apply inline py-2 px-4;
}

.file-field:focus + .file-field-label,
.file-field + .file-field-label:hover {
    background-color: rgb(180, 180, 180);
}

.form-element{
    display: flex;
    flex-direction: row;
    border: 1px solid #ececec;
    border-radius: 0.5rem;
    height: 4rem;
}

.form-element-col{
    display: flex;
    padding: .5rem;
    flex-direction: column;
    border: 1px solid #ececec;
    border-radius: 0.5rem;
}

.icon-container{
    margin-left: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.field{
    margin: 0.5rem;
    position: relative;
    padding-left: 0.5rem;
}

.label-element{
    width: 91.666667%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 0.5rem;
    border-bottom: 1px solid #feffff;
}

.label-element::after{
    position: absolute;
    height: 100%;
    width: 91.666667%;
    border-bottom: 2px solid #3bf64b;
    margin-left: 0.5rem;
    left: 0;
    bottom: 0;
    transition-property: all;
    transition-duration: 300ms;
    transform: translateX(-32rem);
    content: "";
}

.content-label{
    position: absolute;
    left: 0;
    transition-property: all;
    transition-duration: 300ms;
    bottom: 5px;
}

.input-element{
    outline: none;
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;

    
}

.input-element:focus + .label-element .content-label, .input-element.input-element:not(:placeholder-shown) + .label-element .content-label{
    transform: translateY(-1.25rem);
    color: #3bf64b;
    font-size: 0.875rem;
}

.input-element:focus + .label-element::after, .input-element.input-element.input-element:not(:placeholder-shown){
    transform: translateX(0);
    border-color: #3bf64b;
}

.btn-simple-1{    
    @apply border focus:outline-none focus:border-teal-200 transition-colors duration-300 rounded-lg border-teal-500 bg-teal-500 hover:bg-teal-400 active:bg-teal-300 p-2
}
.btn-text-1{    
    @apply focus:outline-none transition-colors duration-300 rounded-lg text-teal-500 hover:text-teal-400 active:text-teal-300 text-sm
}
